body { 
    margin: 0; 
    padding: 0;
    overflow: hidden;
}

.text{
    position: fixed;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    left: 0%;
    top: 10px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    text-align: right;
    transform: translateX(39%);
}

.text2{
    position: fixed;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    right: 10%;
    top: 10px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    text-align: right;
    transform: translateX(39%);
}

.re{
    position: absolute;
    top: 20%;
    left:7%;
}